body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #222;
    background-color: #fef4f3 !important;
    margin: 0;
}

#Naglowek img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}

#Menu {
    color: #000 !important;
    background-color: #EB6864 !important;
    font-size: 7.5px;
}

#ObszarLogowania {
    text-align: right;
    background-color: #aaa;
    border-color: #aaa;
    padding: 5px 10px;
    font-weight: bold;
    font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    background-color: #EB6864;
    border-color: #EB6864;
}

#ObszarLogowania:hover {
     color: #fff;
     cursor: pointer !important;
}


#ObszarRoboczy {
    display: block;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee;
    border-color: #e7e7e7;
    padding: 50px 20px;
    margin: 0 200px;
}

#ObszarRoboczy h1 {
    display: inline;
}

#ObszarRoboczy div {
    margin: 0 10px;
}



#DrugiObszarBoczny {
    display: block;
    align-items: center;
    justify-content: center;
    float: right;
    width: 200px;
    height: 300px;
    background-color: #fbe1e0;
    border-color: #f9d5d4;
}


.ElementMenuNadrzednego {
    color: rgba(255, 255, 255, 0.5);
    background-color: #EB6864;
    cursor: pointer;
    font-size: 12px;
    font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
    font-weight: 700;
    list-style: none;
    text-align: center;
    padding: 10px 5px 0 5px;
}

.ElementMenuNadrzednego a {
    cursor: pointer !important;
}

.ElementMenuRozwijanego {
    background: #F5F5F5;
    background-color: #EB6864;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    padding: 3px 10px;
    font-size: 12px;
    font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
    font-weight: 700;
}

.ZaznaczonyElementMenu {
    color: #fff;
    background: #F5F5F5;
    background-color: #EB6864;
    cursor: pointer;
    font-size: 12px;
    font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
    font-weight: 700;
}


/* style dla galerii start */
#imagecontainer img {
    width: 50%;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* style dla galerii stop */


/* Sekcja o nas start*/

#about-us-container {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #222;
    background-color: #fef4f3 !important;
    margin: 0;
}
/* Sekcja o nas start*/

/* Zawartość serwisu start */

#site-map-container {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #222;
    background-color: #fef4f3 !important;
    margin: 0;
}
/* Zawartość serwisu stop */


/* Pierwszy obszar boczny start */

#PierwszyObszarBoczny {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 200px;
    height: 300px;
    background-color: #2da2dd;
    border-color: #f9d5d4;
}


    #PierwszyObszarBoczny a {
        display: contents;
        text-decoration: none;
    }

    #PierwszyObszarBoczny strong {
        text-align: center;
    }

/* Pierwszy obszar boczny stop */


.OknoProduktow {
    background-color: #C3DBEA;
    border-style: solid;
    border-color: #55BBFF;
    margin: 5px auto 0px auto;
    width: 120px;
    text-align: center;
}

#DrugiObszarBoczny strong {
    margin: 15px;
}