body {
    font-family: Verdana;
    font-size: 8px;
    color: #000033;
    background-color: white;
    margin: 0;
}

#Menu {
    background-color: #55BBFF;
    font-size: 7.5px;
}

#ObszarLogowania {
    text-align: right;
    background-color: #C3DBEA;
    padding: 5px 10px;
}

#ObszarRoboczy {
    background-color: #EEEEEE;
    padding: 50px 20px;
    margin: 0 200px;
}

#PierwszyObszarBoczny {
    float: left;
    width: 200px;
    height: 300px;
}

#DrugiObszarBoczny {
    float: right;
    width: 200px;
    height: 300px;
}


.ElementMenuNadrzednego {
    color: #000033;
    font-weight: bold;
    padding: 3px 10px;
}

.ElementMenuRozwijanego {
    background: #F5F5F5;
    color: #000033;
    padding: 3px 10px;
}

.ZaznaczonyElementMenu {
    background: #000033;
    color: white;
}
